@using SHotel.Business.DTOs.SliderDTOs
@model SliderCreateDTO

<div class="container">
    <div class="row">
        <div class="col-12">
            <form method="post" asp-controller="Slider" asp-action="Create" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="exampleInputEmail5" class="form-label">Title</label>
                    <input asp-for="Title" class="form-control" id="exampleInputEmail5">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail4" class="form-label">Description</label>
                    <input asp-for="Description" class="form-control" id="exampleInputEmail4">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail2" class="form-label">Icon</label>
                    <input asp-for="Icon" class="form-control" id="exampleInputEmail2">
                    <span asp-validation-for="Icon" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">ImageFile</label>
                    <input asp-for="ImageFile" class="form-control" id="exampleInputEmail1">
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail3" class="form-label">RedirectText</label>
                    <input asp-for="RedirectText" class="form-control" id="exampleInputEmail3">
                    <span asp-validation-for="RedirectText" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail6" class="form-label">IsDeleted</label>
                    <input asp-for="IsDeleted" class="form-control" id="exampleInputEmail6">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>
</div>