@using SHotel.Business.DTOs.BedDTOs
@model BedCreateDTO

<div class="container">
    <div class="row">
        <div class="col-12">
            <form method="post" asp-controller="Bed" asp-action="Create">
                <div class="mb-3">
                    <label for="exampleInputEmail5" class="form-label">Name</label>
                    <input asp-for="Name" class="form-control" id="exampleInputEmail5">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail6" class="form-label">IsDeleted</label>
                    <input asp-for="IsDeleted" class="form-control" id="exampleInputEmail6">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>
</div>

