@model ForgetPasswordViewModel





<div class="container" style="margin-top:200px;"> 
    <form method="post" >
        <h1>Forget Password</h1> 
        <label asp-for="appUser.Email">Please enter your email</label>
        <input class="form-control" asp-for="appUser.Email"/> <br />
        <span class="text-danger"> 
            @Html.ValidationMessage("Error")
        </span> <br />
        <button type="submit" class="btn btn-outline-dark">Send</button> <br /> <br /> 
    </form>
</div>