@using SHotel.Business.DTOs.SettingDTOs
@model SettingCreateDTO

<div class="container">
    <div class="row">
        <div class="col-12">
            <form method="post" asp-controller="Setting" asp-action="Create"> 
                <div class="mb-3">
                    <label for="exampleInputEmail5" class="form-label">Key</label>
                    <input asp-for="Key" class="form-control" id="exampleInputEmail5">
                    <span asp-validation-for="Key" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail4" class="form-label">Value</label> 
                    <input asp-for="Value" class="form-control" id="exampleInputEmail4">
                    <span asp-validation-for="Value" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail6" class="form-label">IsDeleted</label>
                    <input asp-for="IsDeleted" class="form-control" id="exampleInputEmail6">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>


        </div>
    </div>
</div>
